/*begin main styles*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#adadad;
	margin:150px 0 0 0;
}
@font-face {
    font-family: Rockwell;
	src: url(../fonts/rockwell-bold.eot);
   }
@font-face {
    font-family: Raleway;
	src: url(../fonts/raleway-semibold.eot);
   }

p {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 0;
	color: #202242
}

.container{
	width:1170px;
	margin: 0 auto;
	padding: 0 50px;

}
.clearfix:after,
.contacts:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}
.screen{
	padding:200px 0;
}
.btn{	
	text-decoration: none;
	font-size:14px;
	line-height:14px;
	padding: 15px 30px;
}
.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .5s ease;
}
.btn.btn-default:hover{
	background:#202242;
	color:#ffe13e;
}
.verticalc{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/*end main styles*/

/*begin header*/
.header{
	width:100%;
	z-index: 999;
	background: #fff; 
	position: fixed;
	top:0;
	left:0;
}
.header .logo{
	float:left;
}
.header .logo .emblem{
	float:left;
	width:34px;
	height: 34px;
	margin: 56.5px 0 56.5px 0;
	background:url(../images/logo.png) center no-repeat;
	background-size: contain;
}
.header .logo .text{
	float:left;
	font-family: 'Rockwell', serif;
	text-decoration: none;
	color: #202242;
	font-size: 30px;
	line-height: 30px;
	padding: 58px 0; 
	margin: 0 100px 0 0;
}
.header .nav{
	float:left;
	padding: 0;
	margin: 0 32px 0 0;
}
.header .nav li{
	float:left;
	list-style: none;
	line-height: 0;
	margin: 63px 30px 48px 0;
}
.header .nav li:last-child{
    margin-right:0;
}
.header .nav li a{
	font-size:16px;	
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #202242;
	padding:18px 6px;
}
.header .nav li a:hover{
	color: #ffe13e;
}
.adress{
	float: right;
	padding: 30px 0 30px 48px;
	margin: 0;
	border-left: 1px solid #ebebeb;
}

.contacts{
	float: right;
	padding: 5px 5px 5px 0;
}

.header .btn{
	display: inline-block;
	margin: 0 20px 0 0;
	float:left;

}

.tel{
	font-family: 'Lato', sans-serif;
	float: right;
	font-size: 24px;
	padding: 5px 0 5px 20px;
	margin: 2px 0 2px 0;
	border-left: 1px solid #babbc4;
	color: #202242

}

/*end header*/

.screen._splash{
	background: url(../images/screen.png) 60% 70% fixed;
	background-size: cover;
	height:calc(100vh - 147px);
	position: relative;
	font-size: 30px;
	line-height: 30px;	
	min-height: 430px;
}
.screen._splash .opacity{
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 5;
}
.screen._splash .container{
	color: #fff;
	z-index: 6;
	text-align: center;
}
.screen._splash .icon{
	display: inline-block;
	width:92px;
	height:100px;
	background: url(../images/shape.png) no-repeat;
	background-size: contain;
	margin: 60px 0 0 0;
}

.screen p {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin: 0 0 42px 0;
}
.screen .container h1{
	font-size: 45px;
	color: white;
	text-align: center;
	padding: 0;
	font-family: 'Rockwell';
	font-weight: lighter;
	letter-spacing: 1px;
	
}
.screen._splash form.info{
	border:solid 19px #dddddd;
	display: inline-block;
	margin: 60px 0 0 0;	
	font-size: 18px;
	line-height: 18px;
}
.screen._splash form.info .form-control{
	float: left;
}
.screen._splash form.info input{
	padding: 18px 47px 17px 18px;
	color:#000;
	border: 0;
}
.screen._splash form.info select{
	border: 0;
	border-radius: 0;
	background: #ffe13e;
	color: #000;
	font-weight: bold;
	padding: 18px 18px 15px 18px;
}
.screen._splash form.info button{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	border: 0;
	border-left: 1px solid #fff;
	background:#ffe13e;
	color: #fff;	
	padding: 18px 18px 18px 18px;
}