/*begin main styles*/
@import url("fonts.css");
a {
  cursor: pointer;
}
body{
  font-family:"Rockwell";
  font-size:14px;
  color:#424242;
}

h2 {
  font-size: 48px;
  color:#fff;
  font-weight: 200;
  margin: 50px 0 28px 0;
}
a:hover{
  text-decoration:none;
}

.container{
  position: relative;
  z-index: 9;
}

.footer:after,
.row:after,
.clearfix:after,
.contacts:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}

.screen{
  padding:30px 0;
}

.row{
    margin: 0 -20px 0 -20px;
}
.btn{	
	text-decoration: none;
	font-size:14px;
	line-height:14px;
	padding: 15px 30px;
}
.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .5s ease;
}
.btn.btn-default:hover{
	background:#202242;
	color:#ffe13e;
}
/*end main styles*/

/*begin header*/

.header{
	width:100%;
	z-index: 999;
	background: #fff; 
	position: fixed;
	top:0;
	left:0;
}
.header .logo{
	float:left;
}
.header .logo .emblem{
	float:left;
	width:34px;
	height: 33px;
	margin: 57px 0 57px 0;
	background:url(../images/logo.png) center no-repeat;
	background-size: contain;
}
.header .logo .text{
	float:left;
	font-family: 'Rockwell', serif;
	text-decoration: none;
	color: #202242;
	font-size: 30px;
	line-height: 30px;
    margin: 58px 100px 58px 0;
}
.header .nav{
	float:left;
	padding: 0;
	margin: 0;
}
.header .nav li{
	float:left;
	list-style: none;
	line-height: 0;
    margin: 40px 30px 0px 0;
}
.header .nav li:last-child{
    margin-right:0;
}
.header .nav li a{
	font-size:16px;	
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #202242;
	padding:18px 6px;
}
.header .nav li a:hover{
	color: #ffe13e;
}
.adress{
	float: right;
    padding: 30px 0 0px 50px;
	margin: 0;
	border-left: 1px solid #ebebeb;
}
.adress p {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 15px 5px 15px 5px;
	color: #202242
}

.contacts{
	float: right;
	margin: 5px 5px 5px 5px;
}

.header .btn{
	display: inline-block;
	margin: 0 20px 0 0;
	float:left;
	border-radius: 0;

}

.tel{
	font-family: 'Lato', sans-serif;
	float: right;
	font-size: 24px;
	padding: 7px 0 7px 20px;
	border-left: 1px solid #babbc4;
	color: #202242

}

/*end header*/

/* Screen splash */

.screen.__splash{
  position:relative;
  background:url(../images/screen.png) no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  padding: 147px 0 0;
}

.screen.__splash h2 {
  margin-top:0;
}
.screen.__splash .container{
  height: calc(100vh - 147px);
  position: relative;
  min-height: 600px;
  max-height: 940px;
}

.screen.__splash .full-cover {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;

}

.screen.__splash .darken {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 8;
}

.splash-web-info {
  text-align: center;
  margin: 0 auto;
}

.screen.__splash p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  margin: 0 0 47px 0;
}

.icon-circle {
  background: url(../images/icon__circle.svg) no-repeat;
  background-size: 105px 114px;
  width: 105px;
  height: 114px;
  display: inline-block;
}

.splash-domain {
  margin: 58px 0 0 0;
  font-size: 18px;
}

.splash-domain form {
  display: inline-block;
  text-align: center;
  margin: 60px 0 0 0;
  border: 15px solid rgba(255,255,255,.5);
}

.splash-domain input[type=text]  {
  font-family: "Raleway";
  color: #2d2d2d;
  padding: 2px 0 0 22px;
  height: 56px;
  font-size: 18px;
  width: 270px;
  border: none;
  outline: none;
  float: left;
}

input[type=text]:focus,
select:focus {
  outline: none;
}


.splash-domain input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2d2d2d;
  font-family: "Raleway";
}
.splash-domain input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d;
  font-family: "Raleway";
}
.splash-domain input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d;
  font-family: "Raleway";
}
.splash-domain input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #2d2d2d;
  font-family: "Raleway";
}

.splash-domain select.input-select{
  font-family: "Raleway";
  color: black;
  font-size: 18px;
  line-height: 18px;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  height: 56px;
  padding: 0 47px 0 24px;
  cursor: pointer;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  z-index: 2;
  position: relative;
  background: none;
}

.icon-down {
   background: url(../images/icon__down.png) no-repeat ;
     background-position: right center;
}

.splash-domain .style-select {
  float: left;
  position: relative;
  background: #ffe13e;
}

.splash-domain .style-select::after {
  content: ''; 
  position: absolute;
  height: 10px;
  width: 10px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform:rotate(45deg);
  right: 19px;
  top:20px;
  z-index: 1;
}

.btn-domain {
  background: #ffe13e;
  color: #fff;
  font-size: 14px;
  width: 160px;
  line-height: 14px;
  outline: none;
  border-left: 1px solid #fff;
  padding: 20px 0 20px 0;
  border-radius: 0;
  cursor: pointer;
}

.btn-domain:hover,
.btn-domain:focus {
  border: none;
  transition: none;
  line-height: 16px;
}

/* Screen service */

.screen.__service{
  position:relative;
}

.screen.__service .container{
  position:relative;
  height:100%;
  z-index: 9;
}

.screen.__service .color {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 5;
  width: 50%;
}

.screen.__service .color.blue {
  background: #202242;
  left: 0;
}
.screen.__service .color.yellow {
  background: #ffe13e;
  right: 0;
}

.icon-webhost {
  background: url(../images/services.png);
  background-size: 168px 169px;
  width: 168px;
  height: 169px;
  display: inline-block;
}

.text-com {
  font-size: 134px;
  line-height: 175px;
  color: #202242;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.screen.__service .content {
    margin: 90px 80px 40px 70px;
}

.screen.__service h2 {
    margin: 40px 0 10px 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #fff;
}

.screen.__service p {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    line-height: 25px;
}

.screen.__service .btn-more {
    display: inline-block;
    border: 3px solid #fff;
    color: #fff;
    padding: 16px 53px;
    margin: 31px 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    background: none;
    transition: .5s ease;

}
.screen.__service .btn-more:hover, .btn-more:focus {
    background: rgba(255, 255,255, .9);
    color: #202242;
}

/* Screen service */

.screen.__features{
  position:relative;
  background: url(../images/features.png) no-repeat center center fixed;
  -webkit-background-size:cover;
     -moz-background-size:cover;
       -o-background-size:cover;
          background-size:cover;
  padding: 70px 0 0 0;
}

.screen.__features .container{
  position:relative;
  z-index: 9;
}

.screen.__features .content{
  margin: 0 0 25px 0;
}


.screen.__features .icon {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
}

.screen.__features .icon:after {
    content: "";
    position: absolute;
    top: 162px;
    left: 29px;
    right: 29px;
    height: 3px;
    background: #8d8d99;
}

.screen.__features .line {
    width: 70px;
    border-bottom: 3px solid #8d8d99;
    display: block;
    margin: 0 auto;
    padding: 29px 0 0 0;
}

.screen.__features .icon.support {
    background: url('../images/support.png');
}

.screen.__features .icon.technology {
    background: url('../images/tech.png');
}

.screen.__features .icon.database {
    background: url('../images/database.png');
}

.screen.__features .icon.monitoring {
    background: url('../images/monitor.png');
}
.screen.__features h2 {
  font-size: 48px;
  line-height: 48px;
  color: #202242;
  margin: 0 0 20px 0;
}


.screen.__features h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #f4d320;
  margin: 63px 0 20px 0;
}

.screen.__features p {
  font-family: "Raleway";
  font-size: 24px;
  line-height: 24px;
  color: #202242;
  margin: 0 0 60px 0;
}

.screen.__features p.light-text {
 font-size: 14px;
 line-height: 24px;
 margin: 0 12px 0 6px;
}

/* Screen clients */
.screen.__clients{
  padding: 0 0 50px 0;
}
.screen.__clients .container{
  padding: 117px 0 0 0;
}

.screen.__clients h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #202242;
  margin:0 0 28px 0;
}

.screen.__clients  a{
  transition: .5s ease;
}
.screen.__clients  a:hover, a:focus {
  opacity: 0.7;
  background: rgba(255,255,62,0.9);
}

.screen.__clients .client-descript{
   line-height: 1.7;
}

.screen.__clients .content {
  background: #f5f3f3;
  position: relative;
  padding: 20px 15px;
  margin: 0 0 80px 0;
}

.screen.__clients .avatar {
  position: absolute;
  overflow: hidden;
  right: 20px; bottom: -60px;
  border: 6px solid #e7e8eb;
  border-radius: 100%;
  transition: .5s ease;
}

.screen.__clients .avatar:hover {
  opacity: .9;
}

.screen.__clients p {
    font-family:'Raleway';
    font-size: 14px;
    color: #adadad;
    text-align: justify;
}

.screen.__clients p.name {
  margin: 20px 0 0 15px;
  font-weight: bold;
  color: #696969;
}

.screen.__clients p.comments {
  font-style: italic;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.screen.__clients .row {
  margin: 0 0 40px 0;
}

/* screen __clients */
.screen.__pricing{
  background: #202242;
}
.screen.__pricing .container{
   padding: 62px 0 58px 0;
}

.screen.__pricing .content{
   margin: 0 0 0 108px;
}
.screen.__pricing h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin: 0 0 6px 0;
}

.screen.__pricing p {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #67687b;
}

.screen.__pricing .btn-more {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    border: 3px solid #fff;
    color: #202242;
    background: #ffe13e;
    padding: 31px 49px;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    transition: .5s ease;
    
}
.screen.__pricing .btn-more:hover, .btn-more:focus {
    background: rgba(255, 255,255, 0.9);
}

/* footer */

.footer {
  position: relative;
  background: rgba(32, 34, 66, .9);
  min-height: 558px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.footer .bg {
    position: absolute;
    background: url(../images/footer__bg.png) center left no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 7%;
    opacity: 0.2;
}

.footer p, li.nav {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.footer li.nav {
  border: none;
  margin: 0 0 10px 0;
}


.footer .icon-maps {
  background: url(../images/footer__maps.svg) no-repeat;
  background-size: 33px 47px;
  width: 33px;
  height: 47px;
  margin: 0 20px 0 35px;
  float: left;
}

.footer .maps-content {
    margin-top: 113%;
}

.footer .content {
    position: relative;
    margin-top: 29%;
    float: right;
}

.footer .footer-nav {
  }

.footer ul {
  margin: 20px 0 10px 0;
}

.footer li {
 padding: 10px 0 10px 0;
 list-style: none;
 border-bottom: 1px solid rgba(255,255,255,.16);
 text-align: right;
}

.footer li:last-child {
  border:none;
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer a:hover, a:focus {
  color: #ffe13e;
  transition: .5s ease;
}

.footer .social {
  margin: 0 0 60px 0;
}
.footer .social a {
  color: #ffe13e;
  transition: .5s ease;
  margin: 0 18px 0 0;
}

.footer .social a:last-child {
  margin: 0;
}

.footer .social a:hover, a:focus {
  color: #fff;
}

.footer .icon-circle {
  background: url(../images/icon__circle.svg);
    background-size: 30px 45px;
    width: 30px;
    height: 45px;
  display: inline-block;
  -moz-transform: rotate(-15deg); /* Р”Р»СЏ Firefox */
  -ms-transform: rotate(-15deg); /* Р”Р»СЏ IE */
  -webkit-transform: rotate(-15deg); /* Р”Р»СЏ Safari, Chrome, iOS */
  -o-transform: rotate(-15deg); /* Р”Р»СЏ Opera */
     transform: rotate(-15deg);
}

.footer a.top {
  font-size: 12px;
  float: right;
}

.footer .copyright {
  text-align: center;
  margin: 23px 0 0 0;
}

.footer p.copy {
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 40px 0;
}

.footer .container {
  z-index: 51;
}

.footer .container .row {
  z-index: 51;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}