@import url("fonts.css");
/*begin main styles*/
body{
	font-family: 'Raleway';
	font-size: 14px;
	color:#adadad;
	margin:147px 0 0 0;
}
.row{
	margin-right: -15px;
  	margin-left: -15px;
}
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{	
	float: left;
}
.col-12{
	width:100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}
a {
  cursor: pointer;
}
.page-heading{	
	font-family: 'Rockwell', serif;
	font-size: 48px;
	line-height: 48px;
}
.screen{
	position: relative;
}
.container{
	width:1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.footer:after,
.row:after,
.clearfix:after,
.contacts:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}

.center{
		text-align: center;
}
.col{
	float: left;
 	width: 25%;
}
.btn{	
	text-decoration: none;
	font-size:14px;
	line-height:14px;
	padding: 15px 30px;
}
.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .5s ease;
}
.btn.btn-default:hover{
	background:#202242;
	color:#ffe13e;
}

/*end main styles*/

/*begin header*/
.header{
	width:100%;
	z-index: 999;
	background: #fff; 
	position: fixed;
	top:0;
	left:0;
}
.header .logo{
	float:left;
}
.header .logo .emblem{
	float:left;
	width:34px;
	height: 33px;
	margin: 57px 0 57px 0;
	background:url(../images/logo.png) center no-repeat;
	background-size: contain;
}
.header .logo .text{
	float:left;
	font-family: 'Rockwell', serif;
	text-decoration: none;
	color: #202242;
	font-size: 30px;
	line-height: 30px;
	margin: 58px 100px 59px 0;
}
.header .nav{
	float:left;
	padding: 0;
	margin: 0;
}
.header .nav li{
	float:left;
	list-style: none;
	line-height: 0;
	margin: 63px 30px 48px 0;
}
.header .nav li:last-child{
    margin-right:0;
}
.header .nav li a{
	font-size:16px;	
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #202242;
	padding:18px 6px;
}
.header .nav li a:hover{
	color: #ffe13e;
}
.adress{
	float: right;
	padding: 30px 0 19px 50px;
	margin: 0;
	border-left: 1px solid #ebebeb;
}
.adress p {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 15px 5px 15px 5px;
	color: #202242
}

.contacts{
	float: right;
	margin: 5px 5px 5px 5px;
}

.header .btn{
	display: inline-block;
	margin: 0 20px 0 0;
	float:left;

}

.tel{
	font-family: 'Lato', sans-serif;
	float: right;
	font-size: 24px;
	padding: 7px 0 7px 20px;
	border-left: 1px solid #babbc4;
	color: #202242

}

/*end header*/


/*begin screen_splash*/
.screen._splash{
	background: url(../images/screen.png) center fixed;
	background-size: cover;
	position: relative;
	font-size: 30px;
	line-height: 30px;	
}
.screen._splash .opacity{
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 5;
}
.screen._splash .container{	
	height: 100vh;	
	min-height: 510px;
    max-height: 1000px;    
    padding-bottom: 30px;
}
.screen._splash p {
    font-family: "Lato";
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin: 0 0 42px 0;
}
.screen._splash .web-info{    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	color: #fff;
	z-index: 6;
	text-align: center;
}
.screen._splash .icon{
	display: inline-block;
	width: 92px;
	height: 100px;
	background: url(../images/shape.png) no-repeat;
	background-size: contain;
	margin: 60px 0 0 0;
}
.screen._splash form.domain{
	display: inline-block;
    text-align: center;
    margin: 60px 0 0 0;
    border: 15px solid rgba(255,255,255,.5);
}
.screen._splash form.domain .form-control{
	float: left;
}
.screen._splash form.domain input{
	font-family: 'Raleway';
	padding: 0 47px 0 30px;
	color: #000;
	border: 0;
	height: 55px;
	font-size: 18px;
}

.screen._splash form.domain input[type=text]:focus,
.screen._splash form.domain select:focus {
  outline: none;
}


.screen._splash form.domain input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.screen._splash form.domain input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.screen._splash form.domain input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.screen._splash form.domain input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}

.screen._splash form.domain select{
	font-size: 18px;
    line-height: 18px;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    z-index: 2;
    position: relative;
    border: 0;
    border-radius: 0;
    height: 55px;
    padding: 0 47px 0 24px;
    text-indent: 0.01px;
}
.screen._splash form.domain .arrow-down{
	position: relative;
	background-color: #ffe13e;
}
.screen._splash form.domain .arrow-down:after{
	content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 19px;
    top: 20px;
	z-index: 1;
}
.screen._splash form.domain button{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	border: 0;
	border-left: 1px solid #fff;
	background: #ffe13e;
	color: #fff;
	height: 55px;
	padding: 0 19px 0 19px;
}
/*end screen_splash*/

/*begin screen_services*/
.screen__services{
	position: relative;
	margin: 0;
	padding: 0;
}
.side_bg {
	position: absolute;
	z-index: 1;
	height: 100%;
	top: 0;
	width: 50%;
}
.side_bg_left{
	left:0;
	background: #202242;
}
.side_bg_right{
	right:0;
	background: #ffe13e;
}
.screen__services .webhost_service{
	position: relative;
	float: left;
	width: 50%;
	min-height: 650px;
}
.screen__services .domain_sevice{
	position: relative;
	float: right;
	width: 50%;
	min-height: 650px;
}
	
.sub_container{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 84px;
	z-index: 8;
}
.screen__services .webhost_service p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.screen__services .domain_sevice p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.screen__services .web_icon{
	display: block;
	background: url('../images/services.png') no-repeat center;
	width: 169px;
	height: 169px;
	margin: 0 auto;
	margin-bottom: 55px;
}
.screen__services .dom_icon{
	display: block;
	font-size: 135px;
	font-weight: bold;
	color: #202242;
	margin-bottom: 66px;
}
.screen__services .serv_title{
	color: #fff;
	font-size: 36px;
}
.screen__services .serv_content{
	margin: 10px 0px 60px 0px;
	line-height: 20px;
	font-family: 'Raleway', serif;
	font-size: 14px;
	color:#fff;
}
.screen__services .serv_btn{
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 19px 53px;
}
.serv_btn:hover{
	color: #202242;
	background: #fff;
	transition: background .5s ease,
	color .5s ease;
}
/*end screen_services*/

/*begin screen_features*/
.srceen._features{
	background: url('../images/features.png') #fbf8f1 no-repeat center;
	background-size: contain;
}
.srceen._features .container{
	text-align: center;
	padding: 30px 35px;
	text-align: center;
}
.srceen._features .screen-heading{	
	margin: 0;
	font-size: 48px;
	line-height: 48px;
	font-weight:bold;
	color: #202242;
	font-family: 'Raleway', sans-serif;
}
.srceen._features .screen-subheading{
	font-size: 24px;
	line-height: 24px;
	color: #202242;
	font-family: 'Lato', sans-serif;
}
.srceen._features .icon{
	display: block;
	margin: 0 auto;
	height: 130px;
	width: 130px;

}
.screen._features .icon_border{
	margin: 0 auto;
	margin-top: 35px;
	width: 70px;
	height: 3px;
	background:#8d8d99;
}


.srceen._features .icon.support{
	background: url(../images/support.png) no-repeat center;	
	background-size: contain;
}
.srceen._features .icon.tech{
	background: url(../images/tech.png) no-repeat center;	
	background-size: contain;
}
.srceen._features .icon.database{
	background: url(../images/database.png) no-repeat center;
	background-size: contain;
}
.srceen._features .icon.monitor{
	background: url(../images/monitor.png) no-repeat center;
	background-size: contain;
}
.srceen._features .block-heading{
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #f4d320;
	margin: 70px 0 0 0;
}

.screen._features .block-heading:before{
	content: '';
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom: 15px;
	width: 70px;
	height: 3px;
	background:#8d8d99;
	margin: 0px 0px 0px 0px;
}
.srceen._features .descript-features{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #202242;
	margin: 19px 30px;
}
.srceen._features .wrap{
	padding: 60px 20px 0 0;
	margin-left:-20px;
	margin-right: -20px;
}
/*end screen_features*/


/* Screen clients */
.screen.__clients{
}
.screen.__clients .container{
  padding: 67px 0 0 0;
}

.screen.__clients h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #202242;
  margin:0 0 28px 0;
}

.screen.__clients .content {
  background: #f5f3f3;
  position: relative;
  padding: 20px 15px;
  margin: 0 20px 50px 0;
}

.screen.__clients .content-info {
	margin: 0 20px 0 15px;
}

.screen.__clients .avatar {
  position: absolute;
  overflow: hidden;
  right: 20px; bottom: -60px;
  border: 6px solid #e7e8eb;
  border-radius: 100%;
  transition: .5s ease;
}

.screen.__clients .avatar:hover {
  opacity: .9;
}

.screen.__clients p {
    font-family:'Raleway';
    font-size: 14px;
    color: #adadad;
    text-align: justify;
}

.screen.__clients p.name {
  margin: 20px 0 0 15px;
  font-weight: bold;
  color: #696969;
}

.screen.__clients p.comments {
  font-style: italic;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.screen.__clients .row {
  margin: 0 0 40px 0;
}

/* screen __clients */
/*fifeth screen*/

	.screen_prices{
		background: #202242;

	}

	.screen_prices .container{
		padding: 50px 0;
	}

	.screen_prices .prices_tittle{
		float: left;
		margin: 0 0 0 95px;
	}

	.screen_prices .prices_tittle h2{
		font-size: 36px;
		color: #fff;
		line-height: 36px;
	}
	.screen_prices .prices_dsecription{
		margin: 10px 0 0 0;
		color: #67687b;
		font-size: 18px;

	}
	.screen_prices .prices_btn{
		display: block;
		text-decoration: none;
		background: #ffe13e;
		border: 4px solid #fff;
		float: right;
		margin: 0 100px 0 0;
		padding: 29px 50px 29px 50px;
		color: #202242;
		font-size: 18px;
		font-weight: bold;
		transition: background .5s ease,
					color .5s ease;
	}

	.screen_prices .prices_btn:hover{
		background: #202242; 
		color: #ffe13e;
		transition: background .5s ease,
					color .5s ease;
	}

/*end fifeth screen*/

/* footer */

.footer {
  position: relative;
  background: rgba(32, 34, 66, .9);
  min-height: 658px;
  z-index: 49;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.footer .bg {
    position: absolute;
    background: url(../images/footer__bg.png) center left no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 7%;
    opacity: 0.2;
    z-index: 50;
}

.footer p, li.nav {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.footer li.nav {
  border: none;
  margin: 0 0 10px 0;
}


.footer .icon-maps {
  background: url(../images/footer__maps.svg) no-repeat;
  background-size: 33px 47px;
  width: 33px;
  height: 47px;
  margin: 0 20px 0 35px;
  float: left;
}

.footer .maps-content {
    margin-top: 113%;
}

.footer .content {
    position: relative;
    margin-top: 49%;
    float: right;
}

.footer .footer-nav {
  }

.footer ul {
  margin: 20px 0 10px 0;
}

.footer li {
 padding: 10px 0 10px 0;
 list-style: none;
 border-bottom: 1px solid rgba(255,255,255,.16);
 text-align: right;
}

.footer li:last-child {
  border:none;
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer a:hover, a:focus {
  color: #ffe13e;
  transition: .5s ease;
}

.footer .social {
  margin: 0 0 60px 0;
}
.footer .social a {
  color: #ffe13e;
  margin: 0 18px 0 0;
}

.footer .social a:last-child {
  margin: 0;
}

.footer.social.fa {
		padding: 0 16px;
		transition: 0.7s;
		color: #fff;
	}
.footer.social.fa:hover{
		color: #4fb448;
		transition: 0.7s;
		transform: rotate(360deg);
	}
.footer .icon-circle {
  background: url(../images/icon__circle.svg);
    background-size: 30px 45px;
    width: 30px;
    height: 45px;
  display: inline-block;
  -moz-transform: rotate(-15deg); /* Р”Р»СЏ Firefox */
  -ms-transform: rotate(-15deg); /* Р”Р»СЏ IE */
  -webkit-transform: rotate(-15deg); /* Р”Р»СЏ Safari, Chrome, iOS */
  -o-transform: rotate(-15deg); /* Р”Р»СЏ Opera */
     transform: rotate(-15deg);
}

.footer a.top {
  font-size: 12px;
  float: right;
}

.footer .copyright {
  text-align: center;
  margin: 23px 0 0 0;
}

.footer p.copy {
  font-size: 14px;
  font-weight: normal;
}

.footer .container {
  z-index: 51;
}

.footer .container .row {
  z-index: 51;
}
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}